
h1{
    color: #1F2A44;

       display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  color:  #8991a3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;

}
body{
   background:
    radial-gradient(circle at 20% 0%, #d5c9b4, transparent 55%),
    linear-gradient(180deg, #e8d1a3 0%, #FFFFFF 100%);
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-decoration: none;
  
    padding: 10px;
    border-radius: 5px;
}
.link{
    text-decoration: none;
    color: #1F2A44;
    border: 2px double #1F2A44;
    border-radius: 5px;
    background-color:#d5c9b4;
    transition: 0.3s;
    transform: scale(1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.link:hover{
    transform: scale(1.1);
    background-color:#1F2A44;
    color: rgb(246, 244, 217);
}
 
#rooms{
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    flex-wrap: wrap;
}
.room{
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(27, 68, 140);
    border-radius: 10px;
    background-color: #e8d1a3;
    transition: 0.3s;
}
.room:hover{
    transform: scale(1.1);
    background-color:#1F2A44;
    color: white;
}
#book{
    background-color:#1F2A44;
    color: white;
    border: 2px solid rgb(27, 68, 140);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
#book:hover{
    transform: scale(1.1);
    background-color: white;
    color:#1F2A44;
}
