*{
    color: #1F2A44;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background:
    radial-gradient(circle at 20% 0%, #FFFFFF, transparent 55%),
    linear-gradient(180deg, #b8ab92 0%, #bc9a55 100%);
}

.form{
    background-color:#ddd4be ;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 530px;
    border: 3px solid #1F2A44;
    border-radius: 15px;
    padding: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    h1{
        margin-bottom: 15px;
    }

    input {
        width: 200px;
        margin: 3px 5px 20px 5px;
        border: 0px;
        outline: 0px;
        border-radius: 12px;
        padding: 7px 12px;
        
    }
    
    input:focus{
        outline:2px solid #1F2A44;
        transform: scale(1.07);
        transition: 0.2s;
    }

    #info{
        width: 200px;
    }

    label{
        margin-top: px;
        display: flex;

        font-size: 17px;

    }
}

.datediv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    input{
        width: 150px;
    }
}

button{
    color: aliceblue;
    background-color: #1F2A44;
    border-color: #1F2A44;
    padding: 9px;
    width: 70px;
    border-radius: 12px;
    position: absolute;
    left: 80%;
    top: 88%;
    cursor: pointer;
    a{
        color: aliceblue;
        text-decoration: none;
        width: 70px;
    }

}

button:hover{
    background-color: #C6A15B;
    border-color: #C6A15B;
    transform: translateY(-3px) translateX(2px) scale(1.03);
    transition: 0.3s;
}